<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/student-home.css">
    <title>Student Home</title>
</head>
<body>
        <nav class="student-buttons">
            <a href="/form1" class="button">Form 1</a>
            <a href="/apply-grad" class="button">Graduate application</a>
            <a href="/transcript" class="button">view transcript</a>
            <a href="/regdashboard" class="button">Register and View Classes</a>
            <a href="/personal-information" class="button">Update Personal Information</a>
            <a href="/submitfeedback" class="button">Course Feedback</a>
            <a href="/logout" class="button">Logout</a>
        </nav>
</body>
</html>